.container {
  display: grid;
  grid-template-rows: 1.3cm 3.6cm 3.2cm 3.2cm 4.7cm;
  grid-template-columns: 5.5cm 1.5cm 1.5cm 3cm 6cm ;
  grid-gap: 10px;
}

.container div {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
  font-family: sans-serif;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 6;
}

.box2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.box3 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.box4 {
  grid-column-start: 5;
  grid-column-end: 6;
}

.box5 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.box6 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

.box7 {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 6;
}

.box8 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 4;
}

.box9 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 6;
}

